/* The main container */
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
/* The counter container */
.counter {
  font-size: 36px;
  margin-bottom: 10px;
}
/* The button container */
.btn-container {
  margin: 10px auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  max-width: 90%;
}
/* Overwriting the browser's default button style */
.btn-container button {
  background: rgb(36, 35, 35);
  padding: 1em;
  font-size: 0.9em;
  margin: 0.3em;
  cursor: pointer;
  color: white;
  outline: none;
  border: none;
  text-decoration: none;
  flex-grow: 1;
  text-align: center;
  border-radius: 5px;
}
.btn-container button:hover {
  opacity: 0.8;
}
/* counter 3 button */
.btn-container-3 button {
  color: rgb(207, 172, 17);
}
/* The checkbox container parent */
.checkbox-container {
  display: flex;
}
/* The checkbox container */
.check-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Hide the browser's default checkbox */
.check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: rgb(204, 187, 111);
}
/* On mouse-over, add a background color */
.check-container :hover input ~ .checkmark {
  background-color: rgb(238, 232, 232);
}
/* When the checkbox is checked, add a background */
.check-container input:checked ~ .checkmark {
  background-color: #0f0f0f;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the checkmark when checked */
.check-container input:checked ~ .checkmark:after {
  display: block;
}
/* Style the checkmark/indicator */
.check-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid rgb(207, 172, 17);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* Loader parent */
.loader {
  position: absolute;
  top: 45%;
  left: 45%;
  z-index: 100;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid rgb(207, 172, 17);
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}
/* Aligning the loader */
.page-loader {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  opacity: 0.7;
  background-color: #fff;
  z-index: 99;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
